@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  float: right;
}

.pokeLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  text-transform: capitalize;
}
.pokeLoader .pokeLoader__ul {
  display: flex;
  flex-wrap: wrap;
}
.pokeLoader .pokeLoader__ul li {
  width: 33.33%;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.pokeLoader .pokeLoader__ul li:hover {
  background-color: rgb(249, 82, 82);
  color: white;
  border-radius: 0.3rem;
}
.pokeLoader .pokeLoader__ball {
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: pokeLoader__Ball 1s infinite;
}
.pokeLoader .pokeLoader__ball:hover {
  transform: scale(1.2);
}
.pokeLoader .pokeLoader__ball:active {
  transform: scale(1.1);
}
.pokeLoader .pokeLoader__img {
  max-width: 100%;
}
.pokeLoader .pokeLoader__buttons {
  position: absolute;
  top: calc(100% - 50px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pokeLoader .pokeLoader__button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background-color: red;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
  font-size: 20px;
}
.pokeLoader .pokeLoader__button:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
}
.pokeLoader .pokeLoader__button:active {
  transform: scale(1);
}

.pokedex {
  margin-top: 100px;
  width: 75%;
  height: auto;
  border: 5px solid red;
  border-radius: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header {
  display: flex;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header button {
  margin: 10px;
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
  font-size: 20px;
}
.header button:hover {
  transform: scale(1.1);
  color: black;
  background-color: white;
}
.header button:active {
  transform: scale(1);
}
.header .header__pokeball {
  position: absolute;
  left: 50%;
  top: 5%;
  height: 8.5vh;
  color: white;
}

.pokeFav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  align-self: center;
  width: 60%;
  text-transform: capitalize;
  border: 5px solid red;
  box-shadow: 0.2rem 0.2rem 0rem 0rem black;
  margin: 5rem auto;
  border-radius: 1%;
  text-decoration: none;
}
.pokeFav .pokeFav__ul {
  width: auto;
}
.pokeFav .pokeFav__ul li {
  cursor: pointer;
  padding: 0.5rem;
  width: auto;
}
.pokeFav .pokeFav__ul li:hover {
  background-color: rgb(249, 82, 82);
  color: white;
  border-radius: 0.3rem;
}
.pokeFav .pokeFav__ball {
  width: 30px;
  height: 30px;
  cursor: pointer;
  animation: pokeLoader__Ball 1s infinite;
}
.pokeFav .pokeFav__ball:hover {
  transform: scale(1.2);
}
.pokeFav .pokeFav__ball:active {
  transform: scale(1.1);
}
.pokeFav .pokeFav__img {
  max-width: 100%;
}
.pokeFav .pokeFav__buttons {
  position: absolute;
  top: calc(100% - 50px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.faveLoader {
  height: 50%;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
